@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: rgba(7, 22, 42, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}
